.container-about{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    heighT:100vh;
    position: absolute;
    top:0;
}
.container-about h1{
    color: white;
    font-size:100px;
    text-transform: uppercase;
    
}
.about-image{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:400px;
    height:600px;
    overflow: hidden;
    background-color: yellow;
}
.about-overlay{
    background: url("https://github.com/taimoorshahzada/Page-Transition-Animation-in-React.js-with-React-Router-and-GSAP/blob/main/src/components/Assets/img1.jpg?raw=true") 50% 50% no-repeat;
    background-size: cover;
}